:root {
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --primary-dark-color: #111518;
  --accent-color: #ff6b09;
  --primary-grey-color: #b9b9b9;
  --secondary-grey-color: #3d3d3d;

  --main-font: 'Montserrat', sans-serif;

  --background-section-color: #f1f1f1;
  --background-modal-color: rgba(17, 21, 24, 0.9);
}
