<section class="benefits">
  <h2 class="benefits__title">Why do people choose us</h2>
  <div class="benefits__container container">
    <ol class="benefits__list list">
      <li class="benefits__item">
        <p class="benefits__list_text">Training in small groups</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__list_text">Rendered notes</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__list_text">Each lesson has a goal and a specific result</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__list_text">The real results of the teacher</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__list_text">
          The course program meets the requirements of the MES of Ukraine
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__list_text">Set of groups by level of knowledge</p>
      </li>
    </ol>
  </div>
</section>
