<footer class="page-footer">
    <div class="container footer-container">
        <div class="footer-links-wrapper">
        <a class="logo footer-logo link" link href="./index.html">
            <svg class="logo__icon">
                <use href="./images/sprite.svg#icon-logo-full"></use>
            </svg>
        </a>
        <a class="footer-phone-link link" href="tell:+380000000000">
            <svg class="footer-phone-link__icon" width="20" height="20">
                <use href="./images/sprite.svg#tel"></use>
            </svg>
            +38 (000) 000 00 00   
        </a>
        <a class="footer-instagram-link link" href="https://instagram.com" target="_blank"></a>
        </div>
            <div class="policy-wrapper">
                <p class="policy">
                    &#64 All rights reserved, 2019
                </p>
            </div>
    </div>
</footer>