<header class="page-header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a href="./index.html" class="logo header-logo link">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#icon-logo-full"></use>
        </svg>
      </a>
      <ul class="header-menu list">
        <li class="header-menu__items">
          <a href="#program" class="header-menu__link link">Studying program</a>
        </li>
        <li class="header-menu__items">
          <a href="#about" class="header-menu__link link">About</a>
        </li>
        <li class="header-menu__items">
          <a href="#how-we-do" class="header-menu__link link">Training options</a>
        </li>
        <li class="header-menu__items">
          <a href="#contacts" class="header-menu__link link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="modal-btn header-modal-btn" type="button">Consultation by phone</button>
    <button class="menu-btn" data-menu-button>
      <svg class="menu-btn-icon" width="21" height="14">
        <use href="./images/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
  <!-- MOBILE MENU -->
  <div class="mobile-menu" data-menu>
    <div class="mobile-menu-container container">
      <button class="mobile-menu-close-button" data-menu-close>
        <svg class="mobile-menu-close-button__icon" width="16" height="16">
          <use href="./images/sprite.svg#cross"></use>
        </svg>
      </button>
      <nav class="mobile-menu__navigation">
        <a href="./index.html" class="logo mobile-menu-logo link">
          <svg class="logo__icon">
            <use href="./images/sprite.svg#icon-logo-full-white"></use>
          </svg>
        </a>
        <ul class="mobile-menu-menu list">
          <li class="mobile-menu-menu__items">
            <a href="#program" class="mobile-menu-menu__link link">Studying program</a>
          </li>
          <li class="mobile-menu-menu__items">
            <a href="#about" class="mobile-menu-menu__link menu__link-accent link">About</a>
          </li>
          <li class="mobile-menu-menu__items">
            <a href="#how-we-do" class="mobile-menu-menu__link link">Training options</a>
          </li>
          <li class="mobile-menu-menu__items">
            <a href="#contacts" class="mobile-menu-menu__link link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="modal-btn mobile-menu-modal-btn" type="button">Consultation by phone</button>
    </div>
  </div>
</header>
