<section class="hero section">
  <div class="hero-container container">
    <div class="hero__container_content">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__text hero__text_grey">It won’t be easy.</p>
      <p class="hero__text">
        But you’re guaranteed to get <span class="hero__text_accent">+25 points</span>
      </p>
      <a href="#contacts" class="hero__link link scroll-to">I want a free lesson</a>
    </div>

    <div class="hero__container_img">
      <picture>
        <source
          media="(min-width: 1366px)"
          srcset="./images/hero/top-desktop.webp 1x, ./images/hero/top-desktop@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1366px)"
          srcset="./images/hero/top-desktop.png 1x, ./images/hero/top-desktop@2x.png 2x"
        />

        <source
          media="(min-width: 768px)"
          srcset="./images/hero/top-tablet.webp 1x, ./images/hero/top-tablet@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/hero/top-tablet.png 1x, ./images/hero/top-tablet@2x.png 2x"
        />

        <source
          media="(max-width: 767px)"
          srcset="./images/hero/top-mobile.webp 1x, ./images/hero/top-mobile@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/hero/top-mobile.png 1x, ./images/hero/top-mobile@2x.png 2x"
        />

        <img
          class="hero__image-top"
          src="./images/hero/top-mobile.png"
          alt="colleagues discuss about work"
        />
      </picture>

      <picture>
        <source
          media="(min-width: 1366px)"
          srcset="./images/hero/lower-desktop.webp 1x, ./images/hero/lower-desktop@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1366px)"
          srcset="./images/hero/lower-desktop.png 1x, ./images/hero/lower-desktop@2x.png 2x"
        />

        <source
          media="(min-width: 768px)"
          srcset="./images/hero/lower-tablet.webp 1x, ./images/hero/lower-tablet@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/hero/lower-tablet.png 1x, ./images/hero/lower-tablet@2x.png 2x"
        />

        <source
          media="(max-width: 767px)"
          srcset="./images/hero/lower-mobile.webp 1x, ./images/hero/lower-mobile@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/hero/lower-mobile.png 1x, ./images/hero/lower-mobile@2x.png 2x"
        />

        <img
          class="hero__image-lower"
          src="./images/hero/top-mobile.png"
          alt="transparent background"
        />
      </picture>
    </div>
  </div>
</section>
