<section class="program" id="program">
  <div class="container program__block">
    <h2 class="program__title">Our program</h2>
    <ul class="program__list list">
      <li class="program__list-suptitle">
        <p class="program__list_title">1 semester</p>
        <div class="program__container-list">
          <ul class="program__item list">
            <li class="program__item-suptitle">— Grammar</li>
            <li class="program__item_text">Nouns & Articles</li>
            <li class="program__item_text">Adjectives & Adverb</li>
          </ul>
          <ul class="program__item list">
            <li class="program__item-suptitle">— Vocabulary</li>
            <li class="program__item_text">Family & Relations</li>
            <li class="program__item_text">People & Society</li>
          </ul>
        </div>
      </li>
      <li class="program__list-suptitle">
        <p class="program__list_title">2 semester</p>
        <div class="program__container-list">
          <ul class="program__item list">
            <li class="program__item-suptitle">— Grammar</li>
            <li class="program__item_text">Pronouns</li>
            <li class="program__item_text">Active Voice</li>
            <li class="program__item_text">Passive Voice</li>
          </ul>
          <ul class="program__item list">
            <li class="program__item-suptitle">— Vocabulary</li>
            <li class="program__item_text">Home</li>
            <li class="program__item_text">School</li>
            <li class="program__item_text">Work</li>
          </ul>
        </div>
      </li>
      <li class="program__list-suptitle">
        <p class="program__list_title">3 semester</p>
        <div class="program__container-list">
          <ul class="program__item list">
            <li class="program__item-suptitle">— Grammar</li>
            <li class="program__item_text">Modal verbs</li>
            <li class="program__item_text">Infinitive</li>
            <li class="program__item_text">Gerund</li>
            <li class="program__item_text">Participle: 1, 2</li>
          </ul>
          <ul class="program__item list">
            <li class="program__item-suptitle">— Vocabulary</li>
            <li class="program__item_text">Travel & Tourism</li>
            <li class="program__item_text">Culture & Free Time</li>
            <li class="program__item_text">Sport</li>
          </ul>
          <ul class="program__item list">
            <li class="program__item-suptitle">— Writing</li>
            <li class="program__item_text">Informal Letter</li>
          </ul>
        </div>
      </li>
      <li class="program__list-suptitle">
        <p class="program__list_title">4 semester</p>
        <div class="program__container-list">
          <ul class="program__item list">
            <li class="program__item-suptitle">— Grammar</li>
            <li class="program__item_text">Clauses: Conditional and Wishes</li>
            <li class="program__item_text">Direct / Reported speech</li>
            <li class="program__item_text">Preposition</li>
            <li class="program__item_text">Conjunction</li>
            <li class="program__item_text">Numeral></li>
          </ul>
          <ul class="program__item list">
            <li class="program__item-suptitle">— Vocabulary</li>
            <li class="program__item_text">Healthy Living</li>
            <li class="program__item_text">Nature & Environment</li>
            <li class="program__item_text">Money</li>
          </ul>
          <ul class="program__item list">
            <li class="program__item-suptitle">— Writing</li>
            <li class="program__item_text">Formal Letter</li>
          </ul>
        </div>
      </li>
      <li class="program__list-suptitle">
        <p class="program__list_title">5 semester</p>
        <div class="program__container-list">
          <ul class="program__item list">
            <li class="program__item-suptitle">—</li>
            <li class="program__item_text">Revision</li>
            <li class="program__item_text">Tests</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <picture>
    <source srcset="./images/program/desktop-program-img.png" media="(min-width: 1366px)" />
    <source srcset="./images/program/tablet-program-img.png" media="(min-width: 768px)" />
    <img class="program__img" src="./images/program/mobile-program-img.png" alt="classroom" />
  </picture>
</section>
