<section class="section reviews">
  <div class="container reviews__container">
    <h2 class="section-title reviews__title">Feedback from graduates</h2>
    <div class="multiple-items">
      <article class="reviews__article">
        <div class="img-wraper">
          <img class="reviews__img" src="./images/reviews/img1.jpeg" alt="" />
          <ul class="list reviews-social">
            <li class="reviews-social__item">
              <a class="reviews-social__link" href="https://www.instagram.com/">
                <svg class="reviews-social__icon" width="30" height="16">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="reviews__wraper">
          <h3 class="reviews__name">Tonya Kucherovskaya</h3>
          <p class="reviews__feature">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__text">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a class="reviews__link" href="#">Read more</a>
          </p>
        </div>
      </article>
      <article class="reviews__article">
        <div class="img-wraper">
          <img class="reviews__img" src="./images/reviews/img2.jpg" alt="" />
          <ul class="list reviews-social">
            <li class="reviews-social__item">
              <a class="reviews-social__link" href="https://www.instagram.com/">
                <svg class="reviews-social__icon" width="30" height="16">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="reviews__wraper">
          <h3 class="reviews__name">Tonya Kucherovskaya</h3>
          <p class="reviews__feature">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__text">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a class="reviews__link" href="#">Read more</a>
          </p>
        </div>
      </article>
      <article class="reviews__article">
        <div class="img-wraper">
          <img class="reviews__img" src="./images/reviews/img3.jpg" alt="" />
          <ul class="list reviews-social">
            <li class="reviews-social__item">
              <a class="reviews-social__link" href="https://www.instagram.com/">
                <svg class="reviews-social__icon" width="30" height="16">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="reviews__wraper">
          <h3 class="reviews__name">Tonya Kucherovskaya</h3>
          <p class="reviews__feature">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__text">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a class="reviews__link" href="#">Read more</a>
          </p>
        </div>
      </article>
    </div>
    <ul class="list slick-img">
      <li class="slick-img__item slick-plus">
        <img src="./images/reviews/img2.jpg" alt="" width="54" height="54" />
      </li>
      <li class="slick-active slick-img__item skick-plus">
        <img src="./images/reviews/img3.jpg" alt="" width="54" height="54" />
      </li>
      <li class="slick-active slick-img__item slick-plus">
        <img src="./images/reviews/img4.jpg" alt="" width="54" height="54" />
      </li>
      <li class="slick-active slick-img__item slick-plus">
        <img src="./images/reviews/img5.jpg" alt="" width="54" height="54" />
      </li>
      <li class="slick-active slick-img__item slick-plus">
        <img src="./images/reviews/img6.jpg" alt="" width="54" height="54" />
      </li>
      <li class="slick-active slick-img__item">
        <img src="./images/reviews/img7.jpg" alt="" width="54" height="54" />
      </li>
      <li class="slick-active slick-img__item">
        <img src="./images/reviews/img8.jpg" alt="" width="54" height="54" />
      </li>
    </ul>
  </div>
</section>
